.app-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  list-style-type: none;
  border-radius: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
  height: 150px;
  width: 130px;
  padding: 5px;
}

.app-image {
  height: 80px;
  width: 80px;
}
.app-name {
  color: #1e293b;
  font-size: 15px;
  font-weight: bold;
}
